@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?entm41');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?entm41#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?entm41') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?entm41') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?entm41##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sport {
  &:before {
    content: $icon-sport; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-language {
  &:before {
    content: $icon-language; 
  }
}
.icon-earth {
  &:before {
    content: $icon-earth; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-css {
  &:before {
    content: $icon-css; 
  }
}
.icon-design {
  &:before {
    content: $icon-design; 
  }
}
.icon-earth2 {
  &:before {
    content: $icon-earth2; 
  }
}
.icon-photoshop {
  &:before {
    content: $icon-photoshop; 
  }
}
.icon-mysql {
  &:before {
    content: $icon-mysql; 
  }
}
.icon-php {
  &:before {
    content: $icon-php; 
  }
}
.icon-node-js {
  &:before {
    content: $icon-node-js; 
  }
}
.icon-javascript {
  &:before {
    content: $icon-javascript; 
  }
}
.icon-mongodb {
  &:before {
    content: $icon-mongodb; 
  }
}
.icon-cloudflare {
  &:before {
    content: $icon-cloudflare; 
  }
}
.icon-amazonaws {
  &:before {
    content: $icon-amazonaws; 
  }
}
.icon-bitbucket {
  &:before {
    content: $icon-bitbucket; 
  }
}
.icon-redux {
  &:before {
    content: $icon-redux; 
  }
}
.icon-react {
  &:before {
    content: $icon-react; 
  }
}
.icon-nuxt {
  &:before {
    content: $icon-nuxt; 
  }
}
.icon-vue {
  &:before {
    content: $icon-vue; 
  }
}
.icon-sun-solid {
  &:before {
    content: $icon-sun-solid; 
  }
}
.icon-sun-line {
  &:before {
    content: $icon-sun-line; 
  }
}
.icon-moon-solid {
  &:before {
    content: $icon-moon-solid; 
  }
}
.icon-moon-line {
  &:before {
    content: $icon-moon-line; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-designer-background {
  &:before {
    content: $icon-designer-background; 
  }
}
.icon-eye-slash {
  &:before {
    content: $icon-eye-slash; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-duplicate {
  &:before {
    content: $icon-duplicate; 
  }
}
.icon-responsive {
  &:before {
    content: $icon-responsive; 
  }
}
.icon-team {
  &:before {
    content: $icon-team; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-linux {
  &:before {
    content: $icon-linux; 
  }
}
.icon-information-solid {
  &:before {
    content: $icon-information-solid; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-notification-bell {
  &:before {
    content: $icon-notification-bell; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-favorite-line {
  &:before {
    content: $icon-favorite-line; 
  }
}
.icon-favorite-solid {
  &:before {
    content: $icon-favorite-solid; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-folder-line {
  &:before {
    content: $icon-folder-line; 
  }
}
.icon-replay {
  &:before {
    content: $icon-replay; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-shift {
  &:before {
    content: $icon-shift; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-tick-circle {
  &:before {
    content: $icon-tick-circle; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-linkedin-solid {
  &:before {
    content: $icon-linkedin-solid; 
  }
}
.icon-linkedin-line {
  &:before {
    content: $icon-linkedin-line; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-film {
  &:before {
    content: $icon-film; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-travel {
  &:before {
    content: $icon-travel; 
  }
}

