$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-web3: unquote('"\\e930"');
$icon-close: unquote('"\\e92f"');
$icon-firebase: unquote('"\\e92e"');
$icon-laravel: unquote('"\\e92d"');
$icon-jest: unquote('"\\e92a"');
$icon-sport: unquote('"\\e929"');
$icon-chevron-right: unquote('"\\e90d"');
$icon-chevron-up: unquote('"\\e91f"');
$icon-chevron-left: unquote('"\\e922"');
$icon-chevron-down: unquote('"\\e923"');
$icon-language: unquote('"\\e904"');
$icon-earth1: unquote('"\\e909"');
$icon-database: unquote('"\\e90a"');
$icon-css: unquote('"\\e90b"');
$icon-design: unquote('"\\e90c"');
$icon-earth2: unquote('"\\e90e"');
$icon-photoshop: unquote('"\\e90f"');
$icon-mysql: unquote('"\\e910"');
$icon-php: unquote('"\\e911"');
$icon-node-js: unquote('"\\e913"');
$icon-javascript: unquote('"\\e914"');
$icon-mongodb: unquote('"\\e915"');
$icon-cloudflare: unquote('"\\e916"');
$icon-amazonaws: unquote('"\\e917"');
$icon-bitbucket: unquote('"\\e919"');
$icon-redux: unquote('"\\e91a"');
$icon-react: unquote('"\\e91b"');
$icon-nuxt: unquote('"\\e91d"');
$icon-vue: unquote('"\\e91e"');
$icon-sun-solid: unquote('"\\e900"');
$icon-sun-line: unquote('"\\e901"');
$icon-moon-solid: unquote('"\\e902"');
$icon-moon-line: unquote('"\\e903"');
$icon-email: unquote('"\\e91c"');
$icon-designer-background: unquote('"\\e95e"');
$icon-eye-slash: unquote('"\\e912"');
$icon-eye: unquote('"\\e92b"');
$icon-lightbulb: unquote('"\\e97f"');
$icon-duplicate: unquote('"\\e9b4"');
$icon-responsive: unquote('"\\e958"');
$icon-team: unquote('"\\e972"');
$icon-code: unquote('"\\ea80"');
$icon-linux: unquote('"\\eabd"');
$icon-information-solid: unquote('"\\ea0c"');
$icon-user: unquote('"\\e971"');
$icon-wordpress: unquote('"\\eab4"');
$icon-storybook: unquote('"\\e931"');
$icon-nginx: unquote('"\\e932"');
$icon-bootstrap: unquote('"\\e934"');
$icon-home: unquote('"\\e95b"');
$icon-notification-bell: unquote('"\\e959"');
$icon-search: unquote('"\\e954"');
$icon-calendar: unquote('"\\e94f"');
$icon-whatsapp: unquote('"\\e951"');
$icon-checkmark: unquote('"\\e94b"');
$icon-menu: unquote('"\\e94e"');
$icon-arrow-down: unquote('"\\e905"');
$icon-arrow-left: unquote('"\\e906"');
$icon-arrow-right: unquote('"\\e907"');
$icon-arrow-up: unquote('"\\e908"');
$icon-time: unquote('"\\e918"');
$icon-favorite-line: unquote('"\\e920"');
$icon-favorite-solid: unquote('"\\e921"');
$icon-google: unquote('"\\e925"');
$icon-help: unquote('"\\e926"');
$icon-instagram: unquote('"\\e928"');
$icon-folder-line: unquote('"\\e92c"');
$icon-replay: unquote('"\\e933"');
$icon-share: unquote('"\\e935"');
$icon-shift: unquote('"\\e936"');
$icon-star: unquote('"\\e937"');
$icon-thumbs-up: unquote('"\\e93a"');
$icon-tick-circle: unquote('"\\e93b"');
$icon-twitter: unquote('"\\e941"');
$icon-github: unquote('"\\eab0"');
$icon-linkedin-solid: unquote('"\\eac9"');
$icon-linkedin-line: unquote('"\\eaca"');
$icon-music: unquote('"\\e924"');
$icon-film: unquote('"\\e927"');
$icon-phone: unquote('"\\e942"');
$icon-travel: unquote('"\\e9af"');

