$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-sun-solid: "\e900";
$icon-sun-line: "\e901";
$icon-moon-solid: "\e902";
$icon-moon-line: "\e903";
$icon-email: "\e91c";
$icon-designer-background: "\e95e";
$icon-eye-slash: "\e912";
$icon-eye: "\e92b";
$icon-lightbulb: "\e97f";
$icon-duplicate: "\e9b4";
$icon-home: "\e95b";
$icon-notification-bell: "\e959";
$icon-search: "\e954";
$icon-calendar: "\e94f";
$icon-whatsapp: "\e951";
$icon-checkmark: "\e94b";
$icon-menu: "\e94e";
$icon-arrow-down: "\e905";
$icon-arrow-left: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-up: "\e908";
$icon-time: "\e918";
$icon-favorite-line: "\e920";
$icon-favorite-solid: "\e921";
$icon-google: "\e925";
$icon-help: "\e926";
$icon-information-solid: "\e927";
$icon-instagram: "\e928";
$icon-folder-line: "\e92c";
$icon-replay: "\e933";
$icon-share: "\e935";
$icon-shift: "\e936";
$icon-star: "\e937";
$icon-thumbs-up: "\e93a";
$icon-tick-circle: "\e93b";
$icon-twitter: "\e941";
$icon-github: "\eab0";
$icon-linkedin-solid: "\eac9";
$icon-linkedin-line: "\eaca";

