$icomoon-font-path: "~@/assets/icomoon/fonts";

$blue: #0072ff;
$orange: #ff9442;

// Other Variables
$primaryFocus: #11f3aa;
$primary: #4ecca3;
$primaryNotFocus: #2ba57d;
$primarySolid: #23866b;

// Dark Variables
$black: #000000;
$darkGrey1: #222831;
$darkGrey2: #393e46;
$darkGrey3: #5d5f63;
$darkGrey4: #182c4f;

// Light Variables
$white: #ffffff;
$grey: #8a94a6;
$grey2: #6b6b6b;
$lightGrey1: #eeeeee;
$lightGrey2: #f6f6f6;
$lightGrey3: #fcfcfd;
$lightGrey4: #cccccc;
$disabledGrey: #e1e4e8;

// --- Dark Mode Settings
:root {
  /* Variables for default theme (light-mode) */
  --dark-white: #{$black};
  --white-dark: #{$white};
  --background-color: #{$lightGrey2};
  --text-color-primary: #{$darkGrey1};
  --text-color-secondary: #{$darkGrey1};
  --text-color-secondary-mobile: #{$darkGrey1};
  --text-color-secondary-notfocus: #{$darkGrey3};
  --text-orange-green: #{$orange};
  --text-grey: #{$grey2};
  --sidebar-line: #{$lightGrey4};
  --button-outline-background: #{$darkGrey1};
  --button-solid-background: #{$darkGrey1};
  --button-solid-background-2: #{$white};
  --button-solid-background-3: #{$darkGrey1};
  --button-outline-hover-bg: #{$darkGrey1};
  --button-text: #{$white};
  --button-text-2: #{$darkGrey1};
  --button-text-3: #{$lightGrey1};
  --scroll-color: #{$darkGrey1};
  --input-outline-color: #{$blue};
}

[data-theme="darkMode"] {
  /* Variables for dark mode */
  --dark-white: #{$white};
  --white-dark: #{$black};
  --background-color: #{$black};
  --text-color-primary: #{$lightGrey1};
  --text-color-secondary: #{$primary};
  --text-color-secondary-mobile: #{$primarySolid};
  --text-color-secondary-notfocus: #{$primaryNotFocus};
  --text-orange-green: #{$primary};
  --text-grey: #{$lightGrey1};
  --sidebar-line: #{$primaryNotFocus};
  --button-outline-background: #{$primary};
  --button-solid-background: #{$primarySolid};
  --button-solid-background-2: #{$primarySolid};
  --button-solid-background-3: #{$primarySolid};
  --button-outline-hover-bg: #{$primaryNotFocus};
  --button-text: #{$white};
  --button-text-2: #{$white};
  --button-text-3: #{$lightGrey1};
  --scroll-color: #{$primarySolid};
  --input-outline-color: #{$primary};
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-white: #{$white};
    --white-dark: #{$black};
    --background-color: #{$black};
    --text-color-primary: #{$lightGrey1};
    --text-color-secondary: #{$primary};
    --text-color-secondary-mobile: #{$primarySolid};
    --text-color-secondary-notfocus: #{$primaryNotFocus};
    --text-orange-green: #{$primary};
    --text-grey: #{$lightGrey1};
    --sidebar-line: #{$primaryNotFocus};
    --button-outline-background: #{$primary};
    --button-solid-background: #{$primarySolid};
    --button-solid-background-2: #{$primarySolid};
    --button-solid-background-3: #{$primarySolid};
    --button-outline-hover-bg: #{$primaryNotFocus};
    --button-text: #{$white};
    --button-text-2: #{$white};
    --button-text-3: #{$lightGrey1};
    --scroll-color: #{$primarySolid};
    --input-outline-color: #{$primary};
  }
}
