$icomoon-font-path: "~@/assets/icomoon/fonts";

// light
$white: #ffffff;
$lightGrey1: #d1d1d1;
$lightGrey2: #e2e2e2;
$lightGrey3: #f6f6f6;
$lightGrey4: #c9ced6;
$lightGrey5: #a6aebc;
$lightGrey6: #bdbdbd;
$lightGrey7: #f2f2f2;
$lightGrey8: #fcfcfd;
$grey: #8a94a6;
$disabledGrey: #e1e4e8;

// // dark
// $black: #000000;
// $darkGrey1: #0a1f44;
// $darkGrey2: #141e30;
// $darkGrey3: #243b55;
// $darkGrey4: #182c4f;

// blue
$blue: #0072ff;

// Other Variables
$disabledGrey: #e1e4e8;
$primaryFocus: #11f3aa;
$primary: #4ecca3;
$primaryNotFocus: #2ba57d;

// Dark Variables
$black: #000000;
$darkGrey1: #222831;
$darkGrey2: #393e46;
$darkGrey3: #4c4d50;

// Light Variables
$white: #ffffff;
$lightGrey1: #eeeeee;
$lightGrey2: #f6f6f6;
$lightGrey3: #fcfcfd;
$lightGrey4: #cccccc;

// --- Dark Mode Settings
:root {
  /* Variables for default theme (light-mode) */
  --background-color: #{$white};
  --text-color-primary: #{$darkGrey1};
  --text-color-secondary: #{$darkGrey1};
  --text-color-secondary-notfocus: #{$darkGrey3};
  --sidebar-line: #{$lightGrey4};
}

[data-theme="darkMode"] {
  /* Variables for dark mode */
  --background-color: #{$darkGrey1};
  --text-color-primary: #{$lightGrey1};
  --text-color-secondary: #{$primary};
  --text-color-secondary-notfocus: #{$primaryNotFocus};
  --sidebar-line: #{$primaryNotFocus};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$darkGrey1};
    --text-color-primary: #{$lightGrey1};
    --text-color-secondary: #{$primary};
    --text-color-secondary-notfocus: #{$primaryNotFocus};
    --sidebar-line: #{$primaryNotFocus};
  }
}
